.juno-card {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: $default-box-shadow;
    border-radius: $default-border-radius;
    padding: 0.825rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: $default-text-color;
    &-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        &-badge {
            width: 32px;
            height: 32px;
            border-radius: 20px;
             img {
                width: 100%;
                height: auto;
                object-fit: contain;
                border-radius: 20px;
            }
        }
        &-left {
            font-size: $badge-review-header-text-size;
        }
    }
    &-body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        &-badge {
            display: flex;
            gap: 1rem;
            align-items: center;
            &-review {
                display: flex;
                flex-direction: column;
                &-stars {
                    display: flex;
                }
            &-text {
                font-size: $badge-title-text-size;
            }
            }
        }
        &-comment-text {
            font-size: $badge-review-text-size;
        }
    }
}